<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mens-health-actors-who-were-cut-from-movies-post-production-index-1603406709.jpg?crop=0.429xw:0.859xh;0.0337xw,0.0128xh&resize=640:*" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">First name</h5>
          <h5 class="card-title">Last name</h5>
          <p class="card-text">Nombre de usuario:</p>
          <p class="card-text">Email:</p>
        </div>
      </div>
    </div>
  </div>
