<div class="card shadow h-100">
  <img [src]="myUser.image" class="card-img-top" [alt]="myUser.first_name" />
  <div class="card-body">
    <h5 class="card-title">{{ myUser.first_name }} {{ myUser.last_name }}</h5>
  </div>
  <div class="card-body d-flex justify-content-evenly">
    <button [routerLink]="'/user/' + myUser._id" class="btn btn-info" style="height: 40px; margin-top: auto;">Info</button>
    <button [routerLink]="'/update/' + myUser._id" class="btn btn-warning" style="height: 40px; margin-top: auto;">Update</button>
    <button (click)="deleteUser(myUser._id)" class="btn btn-danger" style="height: 40px; margin-top: auto;">Delete</button>
  </div>
</div>
